.container
    .jumbotron
        h1 Multi Vision
        p Hello to Multi Vision the moust great site ever
    .row
        .col-md-6
            div(ng-include="'partials/main/featured-courses'")
        .col-md-6
            div(ng-include="'partials/main/new-courses'")